/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/assesspool -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input  = params.pipelines_testdata_base_path + 'files/test_full.csv'
    filter = true
    max_missing = 0.5
    min_minor_allele_count = 2
    min_mapping_quality = 30
    min_mapping_quality_ref = 30
    min_mapping_ratio = 0.75
    max_mapping_ratio = 1.25
    quality_depth_ratio = 0.25
    mispaired_reads = true
    read_balance_left = 0
    read_balance_right = 0
    min_pools = 5
    min_depth = 30
    max_allele_length = 10
    min_quality = 30
    variant_type = 'snp'
    min_alternate_observations = 2
    min_mean_depth = 3
    max_mean_depth = 500
    grenedalf = true
    all_fst_columns = true
    popoolation2 = true
    poolfstat = true
    suppress_noninformative = true
    match_allele_count = true
    fisher_test = true
    fisher_test_popoolation = true
    outdir = 'output'
    missing_zeroes = true
    visualize_filters = true
    filter_only = false
    extract_sequences = true
}
